docs/ai-lab/n8n-newsletter-workflow.json
{
  "name": "AI Lab - Newsletter Ingestion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute",
              "minute": 15
            }
          ]
        },
        "filters": {
          "readStatus": "unread",
          "sender": "ben@bensbites.com, hello@mail.beehiiv.com, noam@benina.beehiiv.com"
        }
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jldfxkbczzxawdqsznze.supabase.co/functions/v1/ingest-newsletter-email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.from }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.html || $json.textHtml }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text || $json.textPlain }}"
            },
            {
              "name": "date",
              "value": "={{ $json.date }}"
            }
          ]
        }
      },
      "id": "http-request",
      "name": "Send to AI Lab",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_AUTH_ID",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": ["UNREAD"],
        "action": "remove"
      },
      "id": "mark-read",
      "name": "Mark as Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [750, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Send to AI Lab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to AI Lab": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
